{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <nav class="navbar">
        <div class="logo">
            MyApp
        </div>

        <ul class="nav-links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'add' %}">Add</a></li>
            <li><a href="{% url 'show' %}">Show</a></li>
        </ul>
    </nav>
    {% block content %}
    <h1>this is home</h1>
    

    {% endblock content %}
</body>
</html>