h1{
    color: red;
}
h2{
    color: rgb(0, 255, 51);
}
button{
    background-color: rgb(0, 242, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
    
}
